.portfolio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 100px 50px 100px 50px;
}
.portfolio__avatar {
  border-radius: 20px;
  margin-left: 75px;
}
.portfolio__container {
  padding-top: 150px;
}
.portfolio-container__button {
  border-radius: 50%;
  background-color: var(--brand-color);
  fill: var(--text-color);
  border: none;
  width: 112px;
  height: 112px;
  cursor: pointer;
}
.portfolio-container__go {
  margin-top: 20px;
  color: var(--brand-color);
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
}
.portfolio-container__title {
  font-size: 65px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
.portfolio-container__paragraph {
  font-size: 22px;
  line-height: 1.4;
  font-weight: normal;
  color: var(--description-color);
  padding-bottom: 35px;
}