.subscribe {
    margin: 100px 50px 100px 50px;
    background-color: var(--card-color);
    border-radius: 20px;
    padding: 60px 60px 75px 60px;
    display: flex;
    justify-content: space-between;

    &__text {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.5;
        color: var(--brand-color);
    }
    &__title {
        font-size: 72px;
        font-weight: normal;
        line-height: 1.1;
        letter-spacing: 0.1em;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &-form__field {
        width: 520px;
        height: 80px;
        background-color: var(--background-color);
        margin-bottom: 20px;
        border-radius: 6px;
        border: 1px solid var(--background-color);
        color: var(--text-color);
        padding-left: 20px;
        font-family: 'DM Sans';
        font-size: 24px;
        line-height: 1.1;
        font-weight: normal

    }
    &-form__field::placeholder {
        font-family: 'DM Sans';
        font-size: 24px;
        line-height: 1.1;
        font-weight: normal;
        color: var(--description-color);
    }
    &-form__buttom {
        width: 87px;
        height: 48px;
        background-color: var(--brand-color);
        color: var(--description-color);
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 15px;
        line-height: 1.5;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }
}